body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  background-color: black;
}

.header {
  font-size: 100px;
}

.score {
  font-size: 25px;
  padding: 16 px;
}

.button-container {
  display: flex;
  height: 50px;
  width: 400px;
}

button {
  flex: 1;
  font-size: 18px;
}

.results {
  font-size: 20px;
}
