body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  background-color: black;
}

.header {
  font-size: 100px;
}

.buttons {
  display: flex;
}
